@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);

html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif !important;
    font-size: 13pt !important;
    font-weight: 300 !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#pageContent, section {
    height: 100% !important;
    width: 100% !important;
}

/*colors not permenent*/
#home {
    background-color: #00B274;
}

#portfolio {
    background-color: #d2685b;
}

#aboutMe {
    background-color: #0096D6;
}

#contact {
    background-color: #E9AC40;
}

footer {
    background-color: #31353A;
    color: #FFF;
    font-size: 10pt !important;
    padding: 20px;
}

#rightFoot {
    float: right;
}

.navbar {
    opacity: 0.9;
    filter: Alpha(opacity=90); /* IE8 and earlier */
}

.myLogo {
    /*max-height: 20px;*/
    /*height: 100%;*/
    /*width: 100px;*/
    font-family: 'Lato', sans-serif;
}
    /*may take out hover property later on, on Frank*/
    .myLogo span, .myLogo:hover{
        color: #F05557 !important;
        font-weight: normal;
    }

    .navbar .active a, .nav a:focus, .nav a:hover {
        color: #F05557 !important;
        background-color: transparent !important;
    }

footer {
    background-color: #31353A;
    color: #FFF;
    font-size: 10pt !important;
    padding: 20px;
}

/* Menu, makes tranformation smooth */
.navbar-nav a::before, .navbar-nav a::after {
    display: inline-block;
    opacity: 0; /* makes [] invisible before and after hover*/
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}



.navbar-nav a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.navbar-nav a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

/* makes hover over links transform work while actively hovered over a link */
.navbar-nav a:hover, .navbar-nav a:hover::before, .navbar-nav a:hover::after, .navbar-nav a:focus::before, .navbar-nav a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}